@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<ul>
    <li>Dit is item1</li>
    <li>Dit is item2</li>
    <li>Dit is item3</li>
</ul>
